<script type="text/javascript">
$(document).ready(function(){
     $('#email').focus()
});
</script>


<style type="text/css" media="screen">
#thisPage {
 	background-color: #f0f0f0;
  width: 750px;
  margin-top: 60px;
  margin-left: auto;
	margin-right: auto;
	padding: 25px;
}

#email {
	position:absolute;
	left:400px;
}

#password {
	position:absolute;
	left:400px;
}

.field {
	padding: 7px;
}

</style>
<div id="wrapper">
<%= render 'layouts/logo' %>
<hr />
<%= render 'layouts/menu' %>
</div><!-- end #wrapper -->

<div id="thisPage">
	<h1>Log in</h1>
	<br />
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash#{name}" %>
<% end %>
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in", :id => "login-submit"  %></div>
<% end %>
<%= button_to 'or Create a Profile', signup_url, :id => "create-profile-button" %>
</div>
<%= render 'layouts/footer' %>
