<style type="text/css" media="screen">
	#thisPage {
		background-color: #f0f0f0;
		width: 900px;
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
		padding: 25px;
		overflow: hidden;
	}

	.largerText {
		font-weight: bold;
		font-size: 1.25em;
	}

	#aboutMe {
		float: left;
		width: 350px;
		margin: 0;
		padding: 1em;
	}

	#myPods {
		margin-left: 400px;
		width: 500px;
		padding: 1em;
	}

	#podNetwork {
		padding: 10px;
	}

	#podName { 
		font-size: 1.2em;
		color: black;
	}

	.even { 
		background-color:#FFF;
		padding: 5px;
		height: 60px;
		position: relative;
	}
	
	.odd { 
		background-color:#DEDEDE;
		padding: 5px;
		height: 60px;
		position: relative;
	}

	#podImg {
		float: left;
		margin-right: 10px;
	}

	#podMembers {
	}

	#podExplore {
		position: absolute; 
		bottom: 2px;
		right: 0;
		padding: 5px;
	}
</style>

<div id="wrapper">
	<%= render 'layouts/logo' %>
	<hr />
	<%= render 'layouts/menu' %>
</div><!-- end #wrapper -->

<div id="thisPage">
	<div id="aboutMe">
		<H2><%=@user.first_name%> <%=@user.last_name%> is a member since 2012.</h2>
		<br />
		<%= gravatar_for @user, :size => 100 %>
		<br />
		To add or update your image go to <a href="http://gravatar.com" target="_new">gravatar.com</a>
		<br /><br />
		<div id="podNetwork">
			<H2>Your Pod Network</h2>
				<% 
					@pods = [["/assets/LSMarketing-pod-img.gif", "Marketing Team 2012", "John, Matt, Tammy, Arnold"], ["/assets/Cake-pod-img.jpg", "CAKE Street Team", "Rual, Zeek, Matt, Kelsey"], ["/assets/quest-pod-img.jpg", "New Quest", "Chops, Chris, Matt"]]
					@pods.each do |pic, name, members| 
				%>
				<div class="<%= cycle("odd", "even") -%>">
					<%= image_tag pic, :size => "54x58", :id => "podImg" %>
					<span id="podName"><%= name %></span>
					<div id="podMembers"><%= members %></div>
					<div id="podExplore">explore</div>
				</div>
				<% end %>
		</div><!-- end #podNetwork -->
	</div><!--end #aboutMe -->
	<div id="myPods">
		<%= image_tag "/assets/PodsApp.gif", :size => "500x554", :alt => "Level-Set Pod App" %>
	</div><!-- end #myPods -->
</div><!-- end #thisPage -->

<%= render 'layouts/footer' %>
</body></html>
