<style type="text/css" media="screen">
#thisPage {
       	background-color: #f0f0f0;
        width: 600px;
        margin-top: 100px;
        margin-left: auto;
				margin-right: auto;
				padding: 25px;
			}

</style>
<div id="wrapper">
<%= render 'layouts/logo' %>
<hr />
<%= render 'layouts/menu' %>
</div><!-- end #wrapper -->

<div id="thisPage">

<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
