<style type="text/css" media="screen">

	#contentArea {
		margin: 0 auto;
		width:960px;
	}

	#profileSection {
		float: left;
		background-color: #f0f0f0;
		width: 725px;
		margin-left: 15px;
		padding: 10px;
		margin-top: -125px;
	}

	#profileTip {
		margin-left: 800px;
		margin-top: 225px;
	}

	.largerText {
		font-weight: bold;
		font-size: 1.25em;
	}

	#aboutMe {
		float: left;
		width: 325px;
		margin: 0;
		padding: 1em;
	}

	#podsNpeople {
		margin-left: 380px;
		padding: 1em;
	}

	#recentActivity {
		border: 1px solid black;
		padding: 10px;
		width: 325px;
	}

	#activity { 
		font-size: 1.2em;
		color: black;
	}

	#activityInfo {
		margin-left: 50px;
	}

	.even { 
		background-color:#FFF;
		padding: 5px;
		height: 45px;
		position: relative;
	}
	
	.odd { 
		background-color:#DEDEDE;
		padding: 5px;
		height: 45px;
		position: relative;
	}

	#peopleMayneedYou {
		margin-left: 50px;
	}

/*
start user pic and links
*/
			#userSection {
				height: 100px;
			}

			#userPicture {
				float: left;
				width: 100px;
			}

			#userStuff {
				margin-left: 125px;
			}

			#userStuffItem {
				height: 20px;
			}
/*
end user pic and links
*/

</style>

<div id="wrapper">
	<%= render 'layouts/logo' %>
	<hr />
	<%= render 'layouts/menu' %>
</div><!-- end #wrapper -->
<div id="contentArea">
<div id="profileSection">
	<div id="aboutMe">
		<H2><%=@user.first_name%> <%=@user.last_name%> is a member since 2012.</h2>
		<br />
		<%= render 'layouts/userPicAndLinks' %>
		<br />
		To add or update your image go to <a href="http://gravatar.com" target="_new">gravatar.com</a>
		<br /><br />
		<h2><%=@user.first_name%> is here to <%=@user.user_profile.want_to %></h2>
		<h4><spam class="largerText">Ideator, Adaptbility,</spam><br />
		Strategic, Connectedness, Empathy</h4>
		<h4><%=@user.user_profile.about_me %></h4>
		<div id="recentActivity">
			<H2>Recent Activity</h2>
				<% 
					@activities = [["Arthur Doyle has invited you to join a Pod","We think you would be a great fit..."], ["Discovered new strengths","Empathy, Strategic..."], ["Joined Matt's Pod", "The result, unverifiable levels of success..."]]
					@activities.each do |activity, info| 
				%>
				<div class="<%= cycle("odd", "even") -%>">
					<div id="activity"><%= activity %></div>
					<div id="activityInfo"><%= info %> READ MORE </div>
				</div><!-- end cycle -->
				<% end %>
		</div><!-- end #recentActivity -->
	</div><!--end #aboutMe -->
	<div id="podsNpeople">
		<H3>Explore Pods that could use Your Strengths</h3>
		<%= image_tag "/assets/pods2.jpg", :size => "325x200", :alt => "Pods" %>
		<br />
		<br />
		<H3>These people could benefit from your strengths</h3>
		<div id="peopleMayneedYou">
			<%= image_tag "/assets/VerticlePhotos.jpg", :size => "125x500", :alt => "People" %>
		</div><!-- end #peopleMayneedYou -->
	</div><!-- end #podsNpeople -->
</div><!-- end #profilesSection -->
<div id="profileTip"><%= image_tag "/assets/alphaProfileTip.gif", :alt => "Your profile tip." %></div>
</div><!-- end #contentArea -->
<%= render 'layouts/footer' %>
</body></html>
