<style type="text/css" media="screen">
	
	#thisPage {
		width:960px;
		margin:0 auto;
	}

	#questionArea {
		float: left;
    background-color: #f0f0f0;
    width: 600px;
    margin-top: 75px;
    margin-left: 75px;
		padding: 25px;
	}

	#questionGif {
		margin-left: 735px;
		padding-top: 110px;
	}

	#questionLine{}

	#rightQuestion{
		float: left;
		width: 250px;
	}

	#leftQuestion {
		margin-left: 275px;
	}

	#nextButton {
		float: right;
		margin-right: 25px;
	}

</style>
<div id="wrapper">
<%= render 'layouts/logo' %>
<hr />
<%= render 'layouts/menu' %>
</div><!-- end #wrapper -->
<% if session[:qAndA][session[:questionNumber]] %>
<div id="thisPage">
<div id="questionArea">
<h3><%= session[:qAndA][session[:questionNumber]][1] %></h3>
<br />
<div id="questionLine">
	<div id="rightQuestion">
		<%= radio_button_tag session[:qAndA][session[:questionNumber]][0], '1', true %> <%= session[:qAndA][session[:questionNumber]][2] %>
	</div>
	<div id="leftQuestion">
		<%= session[:qAndA][session[:questionNumber]][3] %> <%= radio_button_tag session[:qAndA][session[:questionNumber]][0], '2' %>
	</div>
</div>
<div id="nextButton">
	<%= button_to('Next',  testQuestion_url )%>
</div>
</div><!-- end #questionArea -->
<div id="questionGif">
	<%= image_tag session[:qAndA][session[:questionNumber]][4], :alt => "Question Instructions", :size => "295x95" %>
</div><!-- end #questionGif -->
</div><!-- end #thePage -->
<% else %>
	<h3>There was a problem with the test. Please try again later.</h3>
<% end %>
<%= render 'layouts/footer' %>
