<style type="text/css" media="screen">
#page {
       	background-color: #f0f0f0;
        width: 600px;
        margin-top: 250px;
        margin-left: auto;
				margin-right: auto;
				padding: 25px;
			}
table, th, td
{
	border: 0px;
	width: 600px;
}
</style>

<div id="page">
<% if session[:qAndA][session[:questionNumber]] %>
<h3><%= session[:qAndA][session[:questionNumber]][1] %></h3>
<br />
	<table border="0">
		<tr>
			<td><%= radio_button_tag session[:qAndA][session[:questionNumber]][0], '1' %> <%= session[:qAndA][session[:questionNumber]][2] %></td><td><%= session[:qAndA][session[:questionNumber]][3] %> <%= radio_button_tag session[:qAndA][session[:questionNumber]][0], '2' %></td>
		</tr>
		<tr>
			<td colspan="2" id="buttonRow"><%= button_to('Next',  testQuestion_url )%></td> 
	</table>
<% else %>
	<h3>There was a problem with the test. Please try again later.</h3>
<% end %>
</div>
</div
