<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
  
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Level Set</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<style type="text/css" media="screen">
/* New look */
	/* start left column */
	#leftColumn {
		float: left;
		width: 655px;
		margin: 0;
		padding: 1em;
		border-right:3px inset #055606;
	}
/* end left column */
/* start right column */
	#rightColumn {
		margin-left: 670px;
		padding: 1em;
		height: 550px;
		color: #454745;
	}

	#cjsText {
		background-image: url(/assets/rightColumnGradient.jpg); 
		background-repeat: no-repeat; 
		width: 350px;
		height: 450px;
	}
 	
	#textItem {
		background-image: url(/assets/textBackground.gif); 
		background-repeat: no-repeat; 
		height: 100px;
		width: 290px;
		margin: 0 auto;
		padding: 5px;
	}
	
	#cjsLargeText {
		font-size: 40px;
		/*color: #5B8357;*/
		/*color: #364E34;*/
		/*color: #243322;*/
		color: #495084;
	}

	#cjsHeaderText {
		color: #1A4915;
		font-size: 1.22em;
		margin-left: 15px;
		width: 100%;
	}
	
	#cjsDetailText {
		color: #1A4915;
	}

	#checkItOutButton {
		height: 45px;
		margin-top: 10px;
		float: right;
		padding: 0px 5px;
		/*background: #1A4915;
		background: #495084;
		color: #FFFFFF; */
	}

/* start sample employer report */
	#serLink {
		font-size: 24px;
		padding: 0px 5px;
	}
	
	#serLink a {
		background-color: #1A4915;
		color: #FFFFFF;
		text-decoration:none;
		display : block;
		text-align : center;
		width: 345px;
	}
	
	#serLink a:hover {
		text-decoration:underline;
		/*font-weight: bold;*/
	}
/* end sample employer report */
	
/* start right column */
/* end new look */
</style>

</head><body id="home">
<div id="wrapper">
<%= render 'layouts/logo' %>
<hr />
<%= render 'layouts/menu' %>
</div><!-- end #wrapper -->
<div id="page">
<!-- ********* START NEW STUFF ********* -->
<!-- ** start left colum ** -->
<div id="leftColumn">
	<div id = "dslImage"><%= image_tag "/assets/Home-LS1.gif", :alt => "What we are about", :size => "650x360" %></div>
	<div id = "dslText"><%= image_tag "/assets/Home-LS2.gif", :alt => "What makes us different", :size => "540x170" %></div>
</div>
<!-- ** end left colum ** -->
<!-- ** start right colum ** -->
<div id="rightColumn">
<div id="cjsHeaderText">The Level Set Podiverse allows people to</div>
<div id="cjsText">
	<br />
<div id="textItem"><div id="cjsLargeText">Create</div><div id="cjsDetailText">Start Pods to accomplish your goals with others who compliment you.</div>
</div><!-- end #textItem -->
<div id="textItem"><div id="cjsLargeText">Join</div><div id="cjsDetailText">Request or accept invitations from others who are intested in you.</div>
</div><!-- end #textItem -->
<div id="textItem"><div id="cjsLargeText">Search</div><div id="cjsDetailText">Find Pods by searching based on strengths to find the perfect partners, mentors, or friends.</div>
</div><!-- end #textItem -->
<%= link_to( image_tag('/assets/checkOutOurDemo.gif', :size => "200x80"), signup_url, { :id => "checkItOutButton", :alt => "Check out our demo!"} ) %></div>
<!-- end #cjsText -->
<div id="serLink"><%= link_to 'Sample Employer Report', ser_url, :id => "ser" %></div>
</div><!-- end #rightColumn -->
<!-- ** end right colum ** -->
<!-- *********** END NEW STUFF *********** -->
<%= render 'layouts/footer' %>
</div><!-- end #page -->
</body></html>
