<div id="header">
	<div id="menu">
		<ul>
  		<li><%= link_to 'Home', root_url %></li>
			<li><%= link_to 'My profile', showProfile_url %></li>
  		<li><a href="#">My Pods</a></li>
  		<li><a href="#">Contact</a></li>
		</ul>
	</div><!-- end #menu -->
	<div id="login">	
		<%= form_tag sessions_path do %>
			<% if session[:user_id] == nil %>
	 				<fieldset><%= label_tag :email %> <%= text_field_tag :email, params[:email], :id => "login-text" %> <%= label_tag :password %> <%= password_field_tag :password,nil, :id => "login-text" %>
	 				<%= submit_tag "Log in", :id => "login-submit" %>
					</fieldset>
				<% else %>
					<%= link_to "Log Out", logout_url, :id => "logout" %>
				<% end %>
		<% end %>
	</div><!-- end #login -->
</div><!-- end #header -->
