		<div id="userSection">
				<div id="userPicture">
					<%= gravatar_for @user, :size => 100 %>
				</div><!-- end #userPicture -->
				<div id="userStuff">
					<div id="userStuffItem"><%= image_tag "/assets/mypods-icon.jpg", :size => "15x15" %> My Pods</div>
					<div id="userStuffItem"><%= image_tag "/assets/mynetwork-icon.jpg", :size => "15x15" %> My Networks</div>
					<div id="userStuffItem"><%= image_tag "/assets/myhistory-icon.jpg", :size => "15x15" %> My History</div>
					<div id="userStuffItem"><%= image_tag "/assets/SocialIcons.gif" %></div>
				</div><!-- end #userStuff -->
		</div><!-- end #userSection  -->

