<!DOCTYPE html>
<html>
	<head>
		<title>Levelset</title>
	<%= stylesheet_link_tag 'templatestyle' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page-wrap">

	<%= yield %>
	<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
